body{
  background-color: rgba(0, 0, 0, 0.829);
}

.header-left{
  text-align: left;
  color: white;
  font-size: 50px;
  margin-left: 30px;
  padding-top: 15px;
}


header{
  width: 80%;
  height: 100px;
  margin: 30px auto;
  background-color: hsl(7, 77%, 58%);
  margin-bottom: 40px;
}

main{
  width: 80%;
  height: 76cm;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
}

h2{
  font-weight: normal;
  font-size: 25px;
  width: 25cm;
  border-bottom: solid 3px hsl(7, 77%, 58%);
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3{
  font-weight: normal;
  width: 25cm;
  margin-left: 40px;
  line-height: 30px;
}

.mainphoto{
  margin-left: 40px;
}

h4{
  font-weight: normal;
  margin-left: 40px;
  color: red;
  font-size: 17px;
}


#shisa{
  text-align: center;
}

#requested{
  margin-left: 40px;
}

input, label{
  display: block;
}

#name{
  width: 100px;
}

#email{
  width: 200px;
}

footer{
  width: 80%;
  height: 10cm;
  margin: 30px auto;
  background-color: hsl(7, 77%, 58%);
  margin-bottom: 40px;
  margin-top: 40px;
}

h1{
  padding-top: 20px;
  font-weight: normal;
}

.copyright{
  text-align: center;
}

